body,
nav {
  background-color: rgb(8, 17, 58);
}
nav {
  border-bottom: 1px solid rgb(6, 10, 26);
}

nav ul li:hover {
  color: chartreuse;
}

img {
  max-width: 250px;
  min-width: 250px;
  max-height: 200px;
  min-height: 200px;
}

#input {
  width: 400px;
}

.like {
  cursor: pointer;
  color: red;
}

.clr {
  clear: both;
}

.card {
  background-color: rgb(16, 16, 92);
}

.card:hover {
  box-shadow: 1px 1px 15px 2px rgb(137, 137, 134);
  transition: 0.2s ease-in-out;
}
