img {
  max-width: 250px;
  min-width: 250px;
  max-height: 200px;
  min-height: 200px;
}

.card {
  background-color: #263043;
}

.card:hover {
  box-shadow: 1px 1px 15px 2px rgb(137, 137, 134);
  transition: 0.2s ease-in-out;
}
